@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:ital,wght@0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 244, 244);
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7rem;
    position: fixed;
    top: 0;
    width: 100%;

}

.logo {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    
}

span {
    color:  rgb(101, 100, 100);
}



.nav-bar ul {
    list-style-type: none;
    display: flex;
}

.nav-bar ul li {
    padding: 2rem 1.8rem;
   /* margin-right: 50px;*/
   margin-right: 30px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: rgb(101, 100, 100);
    font-size: 0.9rem;
}

.bx {
    float: left;
}

.about {
    color: black;
}

hr {
    border-color: black;
    border-width: 1.5px;
    max-width: 30px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    top: 50px;
    right: 400px;
}

.main-content-1 h1 {
    font-size: 5rem;
    color: black;
    font-weight: bold; line-height: 70px;
    margin-top: 13px;
}

.main-content-1 p {
    font-size: 1rem;
    color: rgb(72, 71, 71);
    margin: 20px 0;
}

.main-content-1 button {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}

.main-content-1 .paragraph {
    color: black;
    font-size: 0.9rem;
    margin-top: 70px;
}

img {
    width: 950px;
    height: 650px;
    position: absolute;
    left:610px;
    bottom: 120px;
    top: 50px;
}

.styling {
    color:black ;
}